<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de turnos</title>
  </head>

  <body>
    <div id="app">
      <h1>{{ titulo }}</h1>
      <br />
      <h3>LISTA DE TURNOS</h3>
      <div v-if="tareas.length==0">Sin turnos pendientes</div>
      <br>
      
      <ul v-else>
        <li v-for="tarea in tareas">
          <h3>Nombre: {{tarea.nombre}} | Correo: {{tarea.correo}} | Turno: {{tarea.turno}} <button @click="eliminarTurno(tarea)"> X </button></h3>
        </li>
      </ul>

      <input type="text" v-model="nombreTarea" placeholder="Ingrese la tarea" />
      <br>
      <br />
      
      <button @click="agregarTurno">Agregar Tarea</button>
      <button @click="reiniciar" >Reset</button>
    
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="module" src="index.js"></script>
      
    </script>
  </body>
</html>
